body
        {
            font-family: "Audiowide", sans-serif;
            background-image: url("fundo4.jpg");
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            justify-items: center;
            align-content: center;
            align-items: center;
            overflow: hidden;
        }
        .ADMPRIN
        {
            width: 30%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            align-content: center;
            align-items: center;  
            animation: backInLeft 2s;
        }
        .d1
        {
           
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            justify-items: center;
            align-content: center;
            align-items: center;  
        }
        .ADM
        {
            margin-top: 50px;
            background: rgba(255, 255, 255, 0.7);
            width: 90%;
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            justify-items: center;
            align-content: center;
            align-items: center; 
            border-radius: 40px;
            border-style: solid;
            border-color: rgb(40, 114, 119);;
            font-size: 60px;
        }
        .ADM2
        {
            width: 90%;
            height: 15vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            align-content: center;
            align-items: center; 
            font-size: 40px;
        }
        .ADM3
        {
            width: 90%;
            height: 8vh;
            display: flex;
            justify-content: space-around;
            justify-items: center;
            align-content: center;
            align-items: center; 
            font-size: 45px;
            font-family: "Sofia", sans-serif;
            margin-top: -15px;
        }
        .ADM4
        {
            width: 90%;
            height: 10vh;
            display: flex;
            justify-content:space-around;
            justify-items: center;
            align-content: center;
            align-items: center;
        }
        .escrita
        {
            width: 90%;
            height: 8vh;
            font-size: 15px;
            display: flex;
            justify-content:center;
            justify-items: center;
            align-content: center;
            align-items: center;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          
        }
        .botao2
        {
            background: rgb(40, 114, 119);
            width: 35%;
            height: 8vh;
            color: white;
            font-size: 15px;
            border-radius: 15px;
            border-color: rgb(0, 0, 0);
            font-family: "Audiowide", sans-serif;
        }
        .dPessoais
        {
            background: rgba(255, 255, 255, 0.7);
            width: 25%;
            height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            justify-items: center;
            align-content: center;
            align-items: center; 
            border-radius: 40px;
            border-style: solid;
            border-color: rgb(40, 114, 119);
            animation: fadeIn 3s;
        }
        .letraspessoais
        {
            font-size: 25px;
            color: rgb(40, 114, 119);
        }

        .dProfissionais
        {
            background: rgba(255, 255, 255, 0.7);
            width: 25%;
            height: 80vh;;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            justify-items: center;
            align-content: center;
            align-items: center; 
            border-radius: 40px;
            border-style: solid;
            border-color: rgb(40, 114, 119);
            animation: fadeIn 3s;
        }
        .logo
        {
            top: 40px;
            width: 50%;
            height: 50vh;
        }
        .fieldset2
        {
            width: 80%;
            height: 90px;
            display: flex;
            justify-content:center;
            justify-items: center;
            align-content: center;
            align-items: center; 
            border-radius: 20px;  
        }
        .fieldset3
        {
            width: 80%;
            height: 55px;
            display: flex;
            justify-content:center;
            justify-items: center;
            align-content: center;
            align-items: center; 
            border-radius: 5px;
             
        }
        .botao
        {
        background-color: rgb(45, 128, 127);
        width: 180px;
        height: 50px;
        border-radius: 10px;
        font-size: 15px;
        display: flex;
        justify-content:center;
        justify-items: center;
        align-content: center;
        align-items: center;
        }
        a
        {
            text-decoration: none;
            color: white;
        }

        input
        {
            width: 100%;
            margin-top: 20px;
        }